header {
    border-bottom: 1px red solid;
    .header-container {
        background-color: red;
        img {
            width: 100px;
        }
        nav {
    
            ul {
    
              li {
    
                a {
                    
                }
              }      
            }
        }
    }
}